<!DOCTYPE html>
<html>
	<head>
		<title>Inrame image uploader extension</title>
		<style media="screen">
    		.centered 
    		{
        		position: absolute;
        		top: 50%;
        		left: 50%;
        		margin: -20px 0 0 -84px;
    		}
	    </style>
		<script type="text/javascript" src="app/scripts/lib/underscore/underscore-min.js"></script>
		<script type="text/javascript" src="app/scripts/upload.js"></script>
		<script type="text/template" name="albums-list">
			<ul>
				<% _.each( response, function( album ){ %>
					<li>
						<h1>
							<a class="album" data-id="<%=album.aid%>"><%=album.title%></a>
						</h1>
					</li>
				<% }); %>
			</ul>
		</script>
	</head>
<body>
	<div id="wrap" style="height: 100%;"> 
		<img class="centered" src="app/images/wait.gif" width="168" height="40"/>
	</div>
</body>
</html>